html {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font: 18px "Montserrat", sans-serif;
    line-height: 1.8;
    color: grey;
}

@media(min-width:768px) {
    html, body {
        /* for jumbotron */

        height: 100%;
    }
}

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#nav-side-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #nav-side-wrapper {
    width: 250px;
}

#content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-left: -250px;
}

.nav-side {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-side li {
    line-height: 40px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    z-index: 9999;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar-nav li a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #1abc9c !important;
    letter-spacing: 4px;
    transform: translate(0, -2px);
    background: transparent !important;
}

.navbar-toggle {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;
    }
    #wrapper.toggled {
        padding-right: 0;
    }
    #nav-side-wrapper {
        width: 0;
    }
    #wrapper.toggled #nav-side-wrapper {
        width: 250px;
    }
    #content-wrapper {
        position: relative;
    }
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

.jumbotron {
    width: 100%;

    margin: 0;
    background-image: url(http://dan.motiongear.org/images/officebgd.png);
}

.jumbotron .container {
    padding: initial;
    color: white;
}

.jumbotron .container h1 {
    text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
}

.jumbotron .container h3 {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

.jumbotron .container p {
    margin-top: 30px;
}

.jumbotron .container .btn {
    margin: 15px 10px;
    -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
}

.vertical-centre {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */

    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

section {
    position: relative;
}

section .container {
    padding-top: 60px;
    padding-bottom: 100px;
}

section#portfolio {
    background-image: url(http://dan.motiongear.org/images/foliobgd.png);
}

section#contact {
    background-image: url(/photos/aerial-architecture-buildings-434198.jpg);
}

section#portfolio .container h1,
section#portfolio .container h3 {
    color: white;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

section#contact .container {
    padding-bottom: 30px;
}

section#contact .container > .row {
    padding-left: 10%;
    padding-right: 10%;
}

section#contact .glyphicon {
    color: #1abc9c;
    padding-right: 8px;
}

#form-feedback {
    color: #1abc9c;
    opacity: 0;
    margin: 5px;
    margin-right: 80px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.bgd {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

@media(max-width: 768px) {
    .bgd {
        background-size: auto 130%;
    }
}
/* unused shadowing between sections, caused lag
.shadow {
  -webkit-box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
              inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
              inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
              inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
}

.shadow:first-of-type {
  -webkit-box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
}
*/

.row {
    padding-top: 20px;
}

.btn {
    margin: 5px 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-lg i {
    padding-right: 8px;
}

.btn-success {
    background-color: #1abc9c !important;
}

.btn-success:hover {
    background-color: #148f77 !important;
}

.btn-success.disabled {
    background-color: #85eed9 !important;
}

a {
    color: #1abc9c;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #148f77;
    text-decoration: none;
    transform: translate(0, -2px);
}

a.top {
    display: block;
    padding: 10px;
}

a.top:hover {
    letter-spacing: 2px;
    transform: translate(0, -20px);
}

.thumbnail {
    padding: 0 0 15px 0;
    margin: 15px;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

footer {
    padding-bottom: 20px !important;
    background: white;
}

.html{
    height:100px;
    background: #1abc9c;
    color: white;
    transition: background-color 2s;
}
.css{
    height:100px;
    background: #4c110f;
    color: white;
    transition: background-color 2s;
}
.js{
    height:100px;
    background: green;
    color: white;
    transition: background-color 2s;
}
.jq{
    height:100px;
    background: #1d643b;
    color: white;
    transition: background-color 2s;
}
.vue{
    height:100px;
    background: #123c24;
    color: white;
    transition: background-color 2s;
}
.php{
    height:100px;
    background: #9561e2;
    color: white;
    transition: background-color 2s;
}
.laravel{
    height:100px;
    background: crimson;
    color: white;
    transition: background-color 2s;
}
.bootstrap{
    height:100px;
    background: plum;
    color: white;
    transition: background-color 2s;
}
.mysql{
    width:100px;
    height:100px;
    background: #ffed4a;
    color: white;
    transition: background-color 2s;
}

.innerText{
    margin-top: 30px;
}
.html:hover{
    background-color: #1b4b72;
    box-shadow: #1b1e21;
}
.css:hover{
    background-color: crimson;
    box-shadow: #1b1e21;
}
.js:hover{
    background-color: #123c24;
    box-shadow: #1b1e21;
}
.jq:hover{
    background-color: #1b4b72;
    box-shadow: #1b1e21;
}
.vue:hover{
    background-color: green;
    box-shadow: #1b1e21;
}
.php:hover{
    background-color: purple;
    box-shadow: #1b1e21;
}

.laravel:hover{
    background-color: red;
    box-shadow: #1b1e21;
}

.mysql:hover{
    background-color: yellow;
    box-shadow: #1b1e21;
}

.bootstrap:hover{
    background-color: #9561e2;
    box-shadow: #1b1e21;
}



#hexagon {
    width: 300px;
    height: 200px;
    background: deepskyblue;
    position: relative;
    color:white;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 25px solid deepskyblue;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 25px solid deepskyblue;
}
